openapi: 3.0.4
info:
  title: Acronym Expander
  description: >-
    Acronym Expander is an AI-powered tool for expanding acronyms to their full
    meanings. It uses a dictionary of common acronyms and AI for unknown ones,
    with optional context for better accuracy.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/acronymexpander:
    get:
      summary: Expand Acronym
      description: Expand an acronym to its full meaning with AI assistance
      operationId: acronymexpander
      parameters:
        - name: acronym
          in: query
          schema:
            type: string
          required: true
          description: The acronym to expand (max 20 characters)
          example: API
        - name: context
          in: query
          schema:
            type: string
          required: false
          description: Optional context to help determine the correct meaning
          example: software
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  acronym: API
                  expansions:
                    - expansion: Application Programming Interface
                      description: A set of protocols for building software
                      category: technology
                  most_common:
                    expansion: Application Programming Interface
                    description: A set of protocols for building software
                    category: technology
                  source: dictionary
                  context_provided: software
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
